body{
  background-color: black;
  position: absolute;
  top: 25%;
  left: 40%;
  height: 0;
  width: 15%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
  color: white;
}

input{
  display: block;
  height: 40px;
  width: 220px;
  border-radius: 5px;
  border-width: 0;
  margin: 4%;
}

#checkbox{
  display: inline;
  height: auto;
  width: auto;
}

#submitbutton{
  color: white;
  background-color: #00bbf0;
  display: block;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  border-width: 0;
  margin: auto;
  margin-top: 3%;
}